Source: vyatta-util
Section: net
Priority: optional
Maintainer: NuDanOS Maintainers <jon@fernandez.tech>
Build-Depends: debhelper-compat (= 13),
 autoconf,
 automake,
 libtool,
 liburiparser-dev
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Git: https://github.com/nudanos/vyatta-util.git
Vcs-Browser: https://github.com/nudanos/vyatta-util

Package: vyatta-util
Architecture: any
Depends:  libvyatta-util1 (=${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Various utilities 
 Utilities used for validation

Package: libvyatta-util1
Architecture: any
Depends: liburiparser1, ${shlibs:Depends}, ${misc:Depends}
Description: Vyatta utilities library
 Vyatta utilities library (libvyatta-util).

Package: libvyatta-util-dev
Architecture: any
Section: libdevel
Depends: libvyatta-util1 (=${binary:Version}), ${misc:Depends}
Description: libvyatta-util development package
 Development header and library files for the Vyatta utilities 
 library.

